body {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  line-height: 34px;
  color: #777777;
}

/*
    NAVIGATION
*/

.nav-link{
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  line-height: 1;
}

/* 
/*
   NAVIGATION LINKS
*/

#projects {
  background-color: white;
}


/*
    HOMEPAGE ONLY 
*/

h1 {
  padding: 1em;
  font-family: 'Roboto Slab', serif;
}

h5 {
  color: #042138;
  font-family: 'Major Mono Display', monospace;
}

p {
  color:white;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
}

.text-center p {
  color: #343a40;
}


#team{
  margin-left: 150px;
}

.irina-image {
  width: 100px;
}

.team-member{
  margin-left: 150px;
}

/* NEW IF WE KEEP REACT HOMEPAGE */

.test-card{
  border: none;
}

.jumbotron{
  background: white;
}
/*
    HOMEPAGE & GARDEN PAGE
*/

.card {
  text-align: center;
  size: 10%;
  background: white;
  border: none;
}


.card .card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.card-text {
  width: 70%;
  text-align: center;
  margin-left: 100px;
  font-size: 25px !important;
}

.card-title {
  font-family: 'Major Mono Display', monospace;
  font-size: 25px;
}

.card p {
  color: #343a40;
  margin-bottom: 2rem !important;
  font-size: 15px;
  padding: 1em;
}


.card-img {
  width: 100%;
  height: 10vw;
  object-fit: cover;
  padding-left: 30px;
  margin-top: 20px;
}

#product_detail{
  text-align: left;
  margin-top: px;
} 

.table{
  line-height: 1;
}

.form-group {
  margin-left: 35px;
  margin-top: 10px;
  line-height: 1;
}

.form-control {
  font-size: 12px;
  color: gray;
}

.list-group{
  margin-left: 35px;
  margin-top: 30px;
}

.list-group-item{
  background-color: #042138;
}

.dimension-2 {
  text-align: center;
  
}
.dimension-1{
  margin-left: 35px;
}

button{
  margin-left: 35px;
  float: right;
}

.btn-success:disabled {
  color: #fff;
  background-color: #A0D413;
  border-color: #A0D413;
}

h6{
  margin-top: 10px;
  
}

h4{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

h7{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 18px;
}

.dropdown-menu{
  font-size: 12px;
}

.dimension-2 col {
  text-align: center;
}

.listed-plant {
  padding-top: 5px;
}

.form-control:focus{
  border-color:#A0D413;
  box-shadow: none;
}


.button:focus{
  border-color:#A0D413;
  box-shadow: none;
}

ul {
  display: -ms-flexbox;           /* IE 10 */
  display: -webkit-flex;          /* Safari 6.1+. iOS 7.1+ */
  display: flex;
  -webkit-flex-flow: wrap column; /* Safari 6.1+ */
  flex-flow: wrap column;
  max-height: 200px;    /* Limit height to whatever you need */
  padding-inline-start: 20px;   
  margin-top: 8px;        
}


.list-group-item {
  line-height: 1.2;
  color: white;
  margin-bottom: 1px;
  padding-top: 4px;
  padding-bottom: 7px;
  font-size: 14px;
}

thead {
  vertical-align: middle;
  padding-bottom: 5px !important;
}

/* PROFILE PAGE */


/*
    DYNAMIC BUTTON ON HOMEPAGE
*/

.button.inset {
  text-decoration: none;
  color: #fff;
  background-color: #A0D413;
  letter-spacing: 2px;
  padding: 5px 10px 5px 10px;
  border: 5px solid rgb(179, 190, 192);
  border: 5px solid #A0D413;
  /* border-radius: 0.25rem; */
  transition: 0.2s;
}

.button.wrap {
  text-decoration: none;
  color: #A0D413;
  background-color: #fff;
  letter-spacing: 2px;
  padding: 10px 25px 10px 25px;
  border: 5px solid #fff;
  border: 5px solid #fff;
  transition: 0.2s;
}


.button.inset:hover {
  box-shadow: inset 0px 0px 0px 2px #fff;
}

.addButton{
  position:relative;
  z-index: 100;
  margin-bottom: -15px;
}



/*
    SOCIAL ICONS
*/



.container{
  margin-top: 80px
}

.fa-github-square:before {
  color: #A0D413
}